# Manipulando os dados do PySUS para csv

Os dados vindos do PySUS são objetos pysus.data.local.ParquetSet, que são difíceis de manipular. Para facilitar a manipulação, vamos transformar esses objetos em dataframes e salvar em arquivos csv. Contudo, existe uma outra dificuldade. Quando fazemos a conversão de DF para CSV, os dados são salvos como strings.

Portanto esse script fará que os arquivos csv possuam seus tipos corretos, conforme o dicionário dado pelos doutores(as) do CEPID.

## Alguns testes de implementação

In [2]:
import pandas as pd

### Objeto list que contém todos os atributos presentes no csv do PySUS.

In [7]:
atributos = [
    'UF_ZI', 'ANO_CMPT', 'MES_CMPT', 'ESPEC', 'CGC_HOSP', 'N_AIH', 'IDENT', 'CEP', 'MUNIC_RES', 'NASC', 'SEXO',
    'UTI_MES_IN', 'UTI_MES_AN', 'UTI_MES_AL', 'UTI_MES_TO', 'MARCA_UTI', 'UTI_INT_IN', 'UTI_INT_AN', 'UTI_INT_AL',
    'UTI_INT_TO', 'DIAR_ACOM', 'QT_DIARIAS', 'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_SADT', 'VAL_RN',
    'VAL_ACOMP', 'VAL_ORTP', 'VAL_SANGUE', 'VAL_SADTSR', 'VAL_TRANSP', 'VAL_OBSANG', 'VAL_PED1AC', 'VAL_TOT', 'VAL_UTI',
    'US_TOT', 'DT_INTER', 'DT_SAIDA', 'DIAG_PRINC', 'DIAG_SECUN', 'COBRANCA', 'NATUREZA', 'NAT_JUR', 'GESTAO', 'RUBRICA',
    'IND_VDRL', 'MUNIC_MOV', 'COD_IDADE', 'IDADE', 'DIAS_PERM', 'MORTE', 'NACIONAL', 'NUM_PROC', 'CAR_INT', 'TOT_PT_SP',
    'CPF_AUT', 'HOMONIMO', 'NUM_FILHOS', 'INSTRU', 'CID_NOTIF', 'CONTRACEP1', 'CONTRACEP2', 'GESTRISCO', 'INSC_PN',
    'SEQ_AIH5', 'CBOR', 'CNAER', 'VINCPREV', 'GESTOR_COD', 'GESTOR_TP', 'GESTOR_CPF', 'GESTOR_DT', 'CNES', 'CNPJ_MANT',
    'INFEHOSP', 'CID_ASSO', 'CID_MORTE', 'COMPLEX', 'FINANC', 'FAEC_TP', 'REGCT', 'RACA_COR', 'ETNIA', 'SEQUENCIA',
    'REMESSA', 'AUD_JUST', 'SIS_JUST', 'VAL_SH_FED', 'VAL_SP_FED', 'VAL_SH_GES', 'VAL_SP_GES', 'VAL_UCI', 'MARCA_UCI',
    'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5', 'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9',
    'TPDISEC1', 'TPDISEC2', 'TPDISEC3', 'TPDISEC4', 'TPDISEC5', 'TPDISEC6', 'TPDISEC7', 'TPDISEC8', 'TPDISEC9'
]

len(atributos)

113

In [3]:
# Importando csv para cá

df = pd.read_csv("/home/ferdanielinux/desktop-linux/scripts-python/proj-aries/Dados/csv/RDSP1505.csv", sep =";", encoding = "ISO-8859-1")

lista = list(df.columns)

df.head()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,350000,2015,5,3,NaN,3515108800808,1,17560000,355660,19570120,...,NaN,0,0,0,0,0,0,0,0,0
1,350000,2015,5,3,NaN,3515108800820,1,17601180,355500,19350425,...,NaN,1,1,1,0,0,0,0,0,0
2,350000,2015,5,3,NaN,3515108800863,1,17501010,352900,19590331,...,NaN,0,0,0,0,0,0,0,0,0
3,350000,2015,5,3,NaN,3515108800874,1,17505500,352900,19280229,...,NaN,1,1,0,0,0,0,0,0,0
4,350000,2015,5,1,NaN,3515108789786,1,19970000,353530,19750701,...,NaN,0,0,0,0,0,0,0,0,0

In [9]:
# Comparando os atributos para ver se possuem o mesmo nome
count = 0
for i in range(len(atributos)):
    if atributos[i] == lista[i]:
        count += 1
    else:
        print(f"O atributo {atributos[i]} é diferente de {lista[i]}")
        
count

113